  <!-- modal section starts -->
  <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal_body">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="modal_tab">
                  <div class="tab-content product-details-large">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                      <div class="modal_tab_img">
                        <a href="#"><img src="/assets/images/product/70.jpg" alt=""></a>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                      <div class="modal_tab_img">
                        <a href="#"><img src="/assets/images/product/71.jpg" alt=""></a>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                      <div class="modal_tab_img">
                        <a href="#"><img src="/assets/images/product/72.jpg" alt=""></a>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab4" role="tabpanel">
                      <div class="modal_tab_img">
                        <a href="#"><img src="/assets/images/product/73.jpg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="modal_tab_button">
                    <ul class="nav product_navactive owl-carousel" role="tablist">
                      <li>
                        <a href="#tab1" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tab1"
                          aria-selected="false"><img src="/assets/images/product/70.jpg" alt=""></a>
                      </li>
                      <li>
                        <a href="#tab2" class="nav-link" data-toggle="tab" role="tab" aria-controls="tab2"
                          aria-selected="false"><img src="/assets/images/product/71.jpg" alt=""></a>
                      </li>
                      <li>
                        <a href="#tab3" class="nav-link button_three" data-toggle="tab" role="tab" aria-controls="tab3"
                          aria-selected="false"><img src="/assets/images/product/72.jpg" alt=""></a>
                      </li>
                      <li>
                        <a href="#tab4" class="nav-link" data-toggle="tab" role="tab" aria-controls="tab4"
                          aria-selected="false"><img src="/assets/images/product/73.jpg" alt=""></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="modal_right">
                  <div class="modal_title mb-10">
                    <h2>Women's Necklace</h2>
                  </div>
                  <div class="modal_price mb-10">
                    <span class="new_price">Rs. 51164</span>
                    <span class="old_price">Rs. 54164</span>
                  </div>
                  <div class="see_all">
                    <a href="#">See All Features</a>
                  </div>
                  <div class="modal_add_to_cart mb-15">
                    <form action="#">
                      <input type="number" min="0" max="100" step="1">
                      <button type="submit">Add To Cart</button>
                    </form>
                  </div>
                  <div class="modal_description mb-15">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quibusdam
                      nisi voluptas consequatur tempora, recusandae nemo blanditiis eaque odit
                      voluptatibus voluptatem, ipsa incidunt fugiat a.</p>
                  </div>
                  <div class="modal_social">
                    <h2>Share this Product</h2>
                    <ul>
                      <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                      <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                      <li><a href="#"><i class="ion-social-rss"></i></a></li>
                      <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                      <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal section ends -->
