<header class="header_area header_black">
  <!-- header top starts -->
  <div class="header_top">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                  <div class="social_icone">
                      <ul>
                          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                          <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                          <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="top_right text-right">
                      <ul>
                          <li class="language">
                              <a href="#">English <i class="ion-chevron-down"></i></a>
                              <ul class="dropdown_language">
                                  <li><a href="#">French</a></li>
                                  <li><a href="#">Germany</a></li>
                                  <li><a href="#">Hindi</a></li>
                              </ul>
                          </li>
                          <li class="currency">
                              <a href="#">INR <i class="ion-chevron-down"></i></a>
                              <ul class="dropdown_currency">
                                  <li><a href="#">USD - Dollar</a></li>
                                  <li><a href="#">EUR - Euro</a></li>
                                  <li><a href="#">GBP - British Pound</a></li>
                              </ul>
                          </li>
                          <li class="top_links">
                              <a href="#">My Account <i class="ion-chevron-down"></i></a>
                              <ul class="dropdown_links">
                                  <li><a href="#">Checkout</a></li>
                                  <li><a href="#">My Account</a></li>
                                  <li><a href="#">Shopping Cart</a></li>
                                  <li><a href="#">Wishlist</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- header top ends -->

  <!-- header middle starts -->
  <div class="header_middel">
      <div class="container">
          <div class="row align-items-center">

              <div class="col-lg-5">
                  <div class="home_contact">
                      <div class="contact_icone">
                          <img src="/assets/images/icon/icon_phone.png" alt="">
                      </div>
                      <div class="contact_box">
                          <p>Inquiry / Helpline : <a href="tel: 1234567894">1-800-242-2728</a></p>
                      </div>
                  </div>
              </div>

              <div class="col-lg-2 col-md-3 col-4">
                  <div class="logo">
                      <a href="index.html"><img src="/assets/images/logo/logo-ash.png" alt=""></a>
                  </div>
              </div>

              <div class="col-lg-5 col-md-7 col-6">
                  <div class="middel_right">
                      <div class="search_btn">
                          <a href="#"><i class="ion-ios-search-strong"></i></a>
                          <div class="dropdown_search">
                              <form action="#">
                                  <input type="text" placeholder="Search Product ....">
                                  <button type="submit"><i class="ion-ios-search-strong" ></i></button>
                              </form>
                          </div>
                      </div>
                      <div class="wishlist_btn">
                          <a href="#"><i class="ion-heart"></i></a>
                      </div>
                      <div class="cart_link">
                          <a href="#"><i class="ion-android-cart"></i><span class="cart_text_quantity">Rs.
                                  67,598</span><i class="ion-chevron-down"></i></a>
                          <span class="cart_quantity">2</span>

                          <!-- mini cart ends  -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- header middle ends -->

  <!-- header bottom starts -->

  <div class="header_bottom sticky-header">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-12">
                  <div class="main_menu_inner">
                      <div class="logo_sticky">
                          <a href="#"><img src="/assets/images/logo/logo-ash.png" alt="logo"></a>
                      </div>
                      <div class="main_menu">
                          <nav>
                              <ul>
                                  <li class="active">
                                      <a href="#">ENGAGEMENT RINGS <i class="ion-chevron-down"></i></a>
                                      <ul class="sub_menu">
                                          <li><a href="#">Banner</a></li>
                                          <li><a href="#">Featured</a></li>
                                          <li><a href="#">Collection</a></li>
                                          <li><a href="#">Best Selling</a></li>
                                          <li><a href="#">News</a></li>
                                          <li><a href="#">Blog</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="#">WEDDING RINGS <i class="ion-chevron-down"></i></a>
                                      <ul class="mega_menu">
                                          <li>
                                              <a href="#">Women</a>
                                              <ul>
                                                  <li><a href="#">Earring</a></li>
                                                  <li><a href="#">Pendant</a></li>
                                                  <li><a href="#">Rings</a></li>
                                                  <li><a href="#">Chain</a></li>
                                                  <li><a href="#">Bangles</a></li>
                                              </ul>
                                          </li>
                                          <li>
                                              <a href="#">Men</a>
                                              <ul>
                                                  <li><a href="#">Ring</a></li>
                                                  <li><a href="#">Pendant</a></li>
                                                  <li><a href="#">Bracelet</a></li>
                                                  <li><a href="#">Chain</a></li>
                                                  <li><a href="#">Gemstone</a></li>
                                              </ul>
                                          </li>
                                          <li>
                                              <a href="#">Other</a>
                                              <ul>
                                                  <li><a href="#">Platinium</a></li>
                                                  <li><a href="#">Silver</a></li>
                                                  <li><a href="#">Coins</a></li>
                                                  <li><a href="#">Gift Card</a></li>
                                              </ul>
                                          </li>

                                      </ul>
                                  </li>
                                  <li>
                                      <a href="#">DIOMANDS<i class="ion-chevron-down"></i></a>
                                      <ul class="sub_menu pages">
                                          <li><a href="#">Earrings</a></li>
                                          <li><a href="#">Pendant</a></li>
                                          <li><a href="#">Ring</a></li>
                                          <li><a href="#">Bracelet</a></li>
                                          <li><a href="#">Necklace Set</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="#">fINE JEWELLERY</a></li>
                                  <li>
                                      <a href="#">Special Collection <i class="ion-chevron-down"></i></a>
                                      <ul class="sub_menu pages">
                                          <li><a href="#">Gemstone</a></li>
                                          <li><a href="#">Gold</a></li>
                                          <li><a href="#">Rose Gold</a></li>
                                          <li><a href="#">Silver</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                    <a href="#"> EDUCATION <i class="ion-chevron-down"></i></a>
                                    <ul class="sub_menu pages">
                                        <li><a href="#">Gemstone</a></li>
                                        <li><a href="#">Gold</a></li>
                                        <li><a href="#">Rose Gold</a></li>
                                        <li><a href="#">Silver</a></li>
                                    </ul>
                                </li>
                                <li>
                                  <a href="#"> <i class="ion-chevron-down"></i></a>
                                  <ul class="sub_menu pages">
                                      <li><a href="#">Gemstone</a></li>
                                      <li><a href="#">Gold</a></li>
                                      <li><a href="#">Rose Gold</a></li>
                                      <li><a href="#">Silver</a></li>
                                  </ul>
                              </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- header bottom ends -->
</header>
