   <!-- footer section starts -->
   <footer class="footer_widgets footer_black">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8">
                    <div class="widgets_container widget_menu">
                        <h3>About Diamonds</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Collection</a></li>
                                <li><a href="#">Portfolio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-4 col-6">
                    <div class="widgets_container widget_menu">
                        <h3>Why Radix</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Collection</a></li>
                                <li><a href="#">Portfolio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5 col-6">
                    <div class="widgets_container widget_menu">
                        <h3>About Radix</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Frequently Questions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="widgets_container widget_menu">
                        <h3 class="">Guids & Education</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Frequently Questions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="row">
                <div class="col-12">
                    <div class="copyright_area">
                        <img src="/assets/images/icon/papyel2.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- footer section ends -->
